h2.audit-s__subtitle Подробный аудит
|
|
.icon-text
    .icon-text__wrap CTR&nbsp;&mdash; Показатель кликабельности баннеров или других рекламных объявлений. Рассчитывается как процентное отношение числа кликов по&nbsp;баннеру к&nbsp;числу его показов.)
|
|
.audit-s-table
    .table-row
        .table-row__wrap
            .table-col-name Эффективность объявлений (CTR)
            .table-col-res.no.info 5%
                .icon
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name Кампания разделена на поиск и РСЯ
            .table-col-res.no Нет
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name Выставленные регионы показа
            .table-col-res.no Больше одно региона
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name Показ по дополнительным релевантным фразам
            .table-col-res.yes Отключен
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name.info Минус-слова
                .icon
            .table-col-res.yes Есть (20)
            .table-col-arrow.yes
                .arrow
    .table-down -!городок -!если -!используют -!как -!когда -!кто -!магазинная -!механический -!него -!применяют -!продаж -!продать -!свердловской -!состоит -!чего -!чему -!что -!это -"intex 68615" -"land cruiser prado 90" -"домкрат дт 30" -"стропа" -"электросварка" -"ямахе центре" -12 -50 -66 -airline -angara -arctic -arx -autoklad -autoprofi -avito -baiyun -ban -belursib -bma -bmw -bohler -bosch -bottline -bravo -bridge -candy -cathook -cd -champion -cynch -cъемник -daewoo -denzel -dewalt -din -download -dozer -dpt353 -dunlop -duplex -elebia -electric -emergency -esab -expert -f3001 -faq -force -foroffic -forsage -free -ftp -fubag -geosys -gigant -gla -global -golden -goodel -haklift -hammer -hijack -hobbyline -hsz -hydraulic -inforce -iwrc
    .table-row
        .table-row__wrap
            .table-col-name Заполнена визитка компании
            .table-col-res.yes Да
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name Подключена метрика
            .table-col-res.no Нет
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name Цели настроены
            .table-col-res.no Нет
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name Уточнения
            .table-col-res.yes Да
            .table-col-arrow.yes
                .arrow
    .table-down -!городок -!если -!используют -!как -!когда -!кто -!магазинная -!механический -!него -!применяют -!продаж -!продать -!свердловской -!состоит -!чего -!чему -!что -!это -"intex 68615" -"land cruiser prado 90" -"домкрат дт 30" -"стропа" -"электросварка" -"ямахе центре" -12 -50 -66 -airline -angara -arctic -arx -autoklad -autoprofi -avito -baiyun -ban -belursib -bma -bmw -bohler -bosch -bottline -bravo -bridge -candy -cathook -cd -champion -cynch -cъемник -daewoo -denzel -dewalt -din -download -dozer -dpt353 -dunlop -duplex -elebia -electric -emergency -esab -expert -f3001 -faq -force -foroffic -forsage -free -ftp -fubag -geosys -gigant -gla -global -golden -goodel -haklift -hammer -hijack -hobbyline -hsz -hydraulic -inforce -iwrc
    .table-row
        .table-row__wrap
            .table-col-name Быстрые ссылки
            .table-col-res.no Нет
            .table-col-arrow.yes
                .arrow
    .table-down -!городок -!если -!используют -!как -!когда -!кто -!магазинная -!механический -!него -!применяют -!продаж -!продать -!свердловской -!состоит -!чего -!чему -!что -!это -"intex 68615" -"land cruiser prado 90" -"домкрат дт 30" -"стропа" -"электросварка" -"ямахе центре" -12 -50 -66 -airline -angara -arctic -arx -autoklad -autoprofi -avito -baiyun -ban -belursib -bma -bmw -bohler -bosch -bottline -bravo -bridge -candy -cathook -cd -champion -cynch -cъемник -daewoo -denzel -dewalt -din -download -dozer -dpt353 -dunlop -duplex -elebia -electric -emergency -esab -expert -f3001 -faq -force -foroffic -forsage -free -ftp -fubag -geosys -gigant -gla -global -golden -goodel -haklift -hammer -hijack -hobbyline -hsz -hydraulic -inforce -iwrc
    .table-row
        .table-row__wrap
            .table-col-name Наличие UTM-меток
            .table-col-res.no Нет
            .table-col-arrow
    .table-row
        .table-row__wrap
            .table-col-name Нерелеватные объявления
            .table-col-res.no Есть
            .table-col-arrow.yes
                .arrow
    .table-down
        .table-down__wrap
            .table-down-left
                p Группа
                p.mob-text Тали Иркутск
                p.mb Ключевые фразы
                p.mob-text купить таль, купить таль
                    span иркутск
                    , тали
                    span иркутск
                    , тали купить, тали
                    span продажа, тали цена
                p Заголовок
                p.mob-text Купить таль по выгодной цене
                p Второй заголовок
                p.mob-text от 2935 рублей
                p Текст
                p.mob-text Тали ручные, электрические. Тележки электрические. Пульты управления.
            .table-down-right
                p Тали Иркутск
                p.mb купить таль, купить таль
                    span иркутск
                    , тали
                    span иркутск
                    , тали купить, тали
                    span продажа, тали цена
                p Купить таль по выгодной цене
                p от 2935 рублей
                p Тали ручные, электрические. Тележки электрические. Пульты управления.
        .table-down__wrap
            .table-down-left
                p Группа
                p.mob-text Тали Москва
                p.mb Ключевые фразы
                p.mob-text купить таль, купить таль
                    span москва
                    , тали
                    span москва
                    , тали купить, тали
                    span продажа, тали цена
                p Заголовок
                p.mob-text Купить таль по выгодной цене
                p Второй заголовок
                p.mob-text от 1000 $
                p Текст
                p.mob-text Тали ручные, электрические. Тележки электрические. Пульты управления.
            .table-down-right
                p Тали Москва
                p.mb купить таль, купить таль
                    span москва
                    , тали
                    span москва
                    , тали купить, тали
                    span продажа, тали цена
                p Купить таль по выгодной цене
                p от 1000 $
                p Тали ручные, электрические. Тележки электрические. Пульты управления.
    .table-row
        .table-row__wrap
            .table-col-name Второй заголовок
            .table-col-res.no Нет
            .table-col-arrow.yes
                .arrow
    .table-down -!городок -!если -!используют -!как -!когда -!кто -!магазинная -!механический -!него -!применяют -!продаж -!продать -!свердловской -!состоит -!чего -!чему -!что -!это -"intex 68615" -"land cruiser prado 90" -"домкрат дт 30" -"стропа" -"электросварка" -"ямахе центре" -12 -50 -66 -airline -angara -arctic -arx -autoklad -autoprofi -avito -baiyun -ban -belursib -bma -bmw -bohler -bosch -bottline -bravo -bridge -candy -cathook -cd -champion -cynch -cъемник -daewoo -denzel -dewalt -din -download -dozer -dpt353 -dunlop -duplex -elebia -electric -emergency -esab -expert -f3001 -faq -force -foroffic -forsage -free -ftp -fubag -geosys -gigant -gla -global -golden -goodel -haklift -hammer -hijack -hobbyline -hsz -hydraulic -inforce -iwrc
    .table-row
        .table-row__wrap
            .table-col-name Отображаемые ссылки
            .table-col-res.no Нет
            .table-col-arrow.yes
                .arrow
    .table-down -!городок -!если -!используют -!как -!когда -!кто -!магазинная -!механический -!него -!применяют -!продаж -!продать -!свердловской -!состоит -!чего -!чему -!что -!это -"intex 68615" -"land cruiser prado 90" -"домкрат дт 30" -"стропа" -"электросварка" -"ямахе центре" -12 -50 -66 -airline -angara -arctic -arx -autoklad -autoprofi -avito -baiyun -ban -belursib -bma -bmw -bohler -bosch -bottline -bravo -bridge -candy -cathook -cd -champion -cynch -cъемник -daewoo -denzel -dewalt -din -download -dozer -dpt353 -dunlop -duplex -elebia -electric -emergency -esab -expert -f3001 -faq -force -foroffic -forsage -free -ftp -fubag -geosys -gigant -gla -global -golden -goodel -haklift -hammer -hijack -hobbyline -hsz -hydraulic -inforce -iwrc
    .table-row.row-border
        .table-row__wrap
            .table-col-name Статус показов
            .table-col-res.no Много
            .table-col-arrow.yes
                .arrow
    .table-down -!городок -!если -!используют -!как -!когда -!кто -!магазинная -!механический -!него -!применяют -!продаж -!продать -!свердловской -!состоит -!чего -!чему -!что -!это -"intex 68615" -"land cruiser prado 90" -"домкрат дт 30" -"стропа" -"электросварка" -"ямахе центре" -12 -50 -66 -airline -angara -arctic -arx -autoklad -autoprofi -avito -baiyun -ban -belursib -bma -bmw -bohler -bosch -bottline -bravo -bridge -candy -cathook -cd -champion -cynch -cъемник -daewoo -denzel -dewalt -din -download -dozer -dpt353 -dunlop -duplex -elebia -electric -emergency -esab -expert -f3001 -faq -force -foroffic -forsage -free -ftp -fubag -geosys -gigant -gla -global -golden -goodel -haklift -hammer -hijack -hobbyline -hsz -hydraulic -inforce -iwrc