h2.audit-s__subtitle Оценка эффективности
|
|
.audit-s-efficiency
    |
    |
    .audit-s-efficiency-item
        .audit-s-efficiency-item-percent
        .audit-s-efficiency-item__text Качество рекламной кампании
    |
    |
    .audit-s-efficiency-item
        .audit-s-efficiency-item-percent
        .audit-s-efficiency-item__text Охват рекламной кампании
