.request
    .request-text
        h2.request-test__title Заявка на&nbsp;полный аудит
        p.request-text__text Оставьте электронную почту, пришлём аудит в&nbsp;течение 30 минут
    .request-form-block
        form(action="#" method="post").request-form
            label.request-form__label Электронная почта
            input(type="text" placeholder="name@mail.ru").request-form__input
            input(id="check" type="checkbox").request-form__checkbox
            label(for="check").request-form__span Получать отчёт каждый месяц
            button(type="submit").request-form__btn.login-form__btn Отправить