doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title PowerIM
        link(rel="stylesheet" href="../css/style.css")
    body
        |
        .wrapper
            |
            |
            span.yandex
            |
            |
            .content.content-nomain
                |
                //фон на главной
                .content__wrap
                    span.content__back
                        svg(height="100%" viewBox="0 0 388 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            title Rectangle
                            desc Created with Sketch.
                            g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                path(d="M0,0 L158,0 L316.562801,132.68818 C401.098736,203.629381 412.19285,329.584034 341.357903,414.19408 L18,800 L0,800 L0,0 Z" id="Rectangle" fill="#412B9F")
                |
                |
                include ../header
                |
                |
                .breadcrumb
                    .container
                        a(href="account.html").breadcrumb__link ←
                            span К рекламным кампаниям
                .audit-s.bg__wrap
                    .container.audit-container
                        - var user = true
                        if !user
                            span.nouser.audit-nouser Вы вошли в личный кабинет тестового профиля, для использования всех возможностей сервиса
                                a(href="#").nouser-login зарегистрируйтесь
                            .content-container.nouser-pd
                                |
                                |
                                h1.content-container__title Аудит рекламной компании: Динамические объявления
                                span.audit-s__title-text за 20 января 2020
                                |
                                |
                                .audit-s__wrap
                                    include _efficiency
                                    include _audit-detail
                                    include _request
                        else
                            .content-container
                                |
                                |
                                h1.content-container__title Аудит рекламной компании: Динамические объявления
                                span.audit-s__title-text за 20 января 2020
                                |
                                |
                                .audit-s__wrap
                                    include _efficiency
                                    include _audit-detail
                                    include _request
            include ../footer
                |
                |
                .popup-overlay
                script(src='../js/jquery-3.3.1.min.js')
                script(src="../js/jquery.nicescroll.min.js")
                script(src='../js/jquery.validate.min.js')
                script(src='../js/jquery.mask.min.js')
                script(src='../js/script.js')