.content-nomain {
  height: auto;
}

.account {
  color: #25262a;
  padding-bottom: 20px;
}

.account__title {
  margin-bottom: 64px;
}

.account__wrap {
  display: flex;
  justify-content: space-between;
}

.account__wrap--mob {
  display: none;
}

.account-audit {
  width: 61%;
}

.account-audit__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 16px;
}

.account-audit__title--mb {
  margin-bottom: 6px;
}

.account-audit__title-border {
  font-weight: 400;
  position: relative;
}

.account-audit__title-border::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #d8dbe0;
  position: absolute;
  bottom: 0;
}

.account-audit__wrap {
  margin-top: 5px;
}

.account-audit__link {
  display: inline-block;
  padding: 20px 0 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #25262a;
  border-bottom: 1px solid rgba(37, 38, 42, 0.3);
}

.account-audit__link:hover {
  color: #007aff;
  border-bottom: 1px solid rgba(0, 122, 255, 0.6);
  -webkit-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  -moz-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  -ms-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  -o-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.account-accs {
  width: 304px;
  //width: 32%;
}

.account-accs__title {
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}

.select-item {
  padding: 8px 20px;
  //padding: 0 20px;
  //margin: 8px 0;
  display: flex;
  cursor: pointer;
  position: relative;
}

.select-item.active {
  pointer-events: none;
}

.select-item.active .select-item__img,
.select-item.active .select-item-info {
  opacity: 0.5;
}

.select-item.active::before {
  content: "";
  display: block;
  width: 4px;
  height: 40px;
  background: #007aff;
  position: absolute;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.select-item-hover:not(.active):hover {
  background: #efecff;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.account-accs__add-btn {
  display: block;
  width: 192px;
  height: 43px;
  border-radius: 4px;
  box-shadow: 0 4px 7px -4px #d8dbe0;
  border: solid 1px #d8dbe0;
  background: #ffffff;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 400;
  color: #25262a;
  margin-top: 20px;
}

.account-accs__add-btn:hover {
  background-image: linear-gradient(to bottom, #ffffff, #efecff);
}

.account-accs__add-btn:active {
  background: #ffffff;
  box-shadow: none;
}

/*style fo herpoymi*/

.delimiter {
  display: block;
  width: 264px;
  height: 1px;
  background-color: #d8dbe0;
  margin: 16px auto;
}

/*end style fo herpoymi*/

@media all and (max-width: 940px) {
  .account-audit {
    margin-right: 20px;
  }
}

@media all and (max-width: 830px) {
  .account-container {
    padding: 60px 20px 80px;
  }
}

@media all and (max-width: 750px) {
  .account-container {
    padding: 45px 0 48px;
    top: -100px;
  }
  .account__title {
    font-size: 30px;
    padding: 0 20px;
    margin-bottom: 25px;
  }
  .account__wrap,
  .account-tabs-block {
    display: none;
  }
  .account__wrap--mob {
    display: block;
  }
  .account-tabs-block.active {
    display: block;
  }
  .account-tabs-title {
    box-shadow: 0 3px 6px -2px rgba(6, 11, 51, 0.16);
    background-color: #ffffff;
    padding: 0 20px;
  }
  .account-tabs-title__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #007aff;
    margin-right: 24px;
    height: 40px;
  }
  .account-tabs-title__link.active {
    color: #25262a;
    border-bottom: 2px solid #007aff;
  }
  .account-tabs {
    padding: 0 20px;
  }
  .account-audit__wrap {
    margin-top: 10px;
  }
  .account-accs__wrap {
    margin-top: 22px;
  }
}

@media all and (max-width: 480px) {
  .account .container {
    max-width: 100%;
    padding: 0;
  }
  .account-container {
    border-radius: 0;
    margin-bottom: 40px;
    top: 0;
  }
  .account__title {
    font-size: 20px;
  }
  .account-audit__wrap {
    margin-top: 25px;
  }
  .account-tabs-title__link,
  .account-accs__title {
    font-size: 16px;
  }
  .select-selected,
  .account-accs-employee {
    max-width: 100%;
  }
  .account-audit__link {
    display: inline;
    line-height: 1.4;
  }
  .account-audit__wrap li {
    margin: 18px 0;
  }
}