doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title PowerIM
        link(rel="stylesheet" href="../css/style.css")
        link(rel="stylesheet" href="../css/slick.css")
        link(rel="stylesheet" href="../css/slick-theme.css")
    body
        |
        .wrapper
            |
            |
            span.yandex
            |
            |
            .content.content-nomain
                |
                //фон на главной
                .content__wrap
                    span.content__back
                        svg(height="100%" viewBox="0 0 388 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            title Rectangle
                            desc Created with Sketch.
                            g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                path(d="M0,0 L158,0 L316.562801,132.68818 C401.098736,203.629381 412.19285,329.584034 341.357903,414.19408 L18,800 L0,800 L0,0 Z" id="Rectangle" fill="#412B9F")
                |
                |
                include ../header
                .context.bg__wrap
                    .container.container-context-pd
                        .content-container.context-intro
                            h1.content-container__title.context__h1-title Ведение контекстной рекламы в&nbsp;Яндекс и&nbsp;Google
                            .effect
                                .effect-num 3x
                                .effect-text
                                    .intro-text__big
                                        | На&nbsp;практике увеличиваем эффективность контекстной рекламы
                                        span.text--yellow в&nbsp;3&nbsp;раза
                                    .intro-text__small
                                        | в&nbsp;сравнении с&nbsp;прогнозами Яндекс и&nbsp;Google (&nbsp;
                                        a(href="#").intro-text__link узнать&nbsp;как
                                        |&nbsp;)
                            .read
                                .intro-text__big
                                    | Перед тем, как выбирать
                                    br
                                    | агентство по&nbsp;контекстной рекламе, обязательно прочтите эту статью:
                                .intro-text__error
                                    a(href='#') 2 критические ошибки при запуске контекстной рекламы

                        .context-partner
                            h3.context__title.partner-title Являемся сертифицированными партнерами Яндекс и&nbsp;Google
                            .partner-slider__wrap
                                .parnter-slider
                                    .partner-slider-item.item1
                                    .partner-slider-item.item2
                                    .partner-slider-item.item3
                                    .partner-slider-item.item4
                                .slider-arrows.partner-slider-arrows

                        .context-container.context-effect
                            h2.context__big-title.effect-big-title
                                | Как нам удается увеличивать эффективность контекстной рекламы
                                span.text--yellow в&nbsp;3&nbsp;раза?
                            .context-effect__wrap.click
                                .effect-img
                                .effect-text
                                    h3.context__title.effect-title Снижаем цену клика
                                    ul.effect-list
                                        li.effect-list__item С&nbsp;помощью специальных программ подбираем недорогие продающие низкочастотные запросы
                                        li.effect-list__item По&nbsp;умолчанию в&nbsp;Яндексе используется стратегия показа объявлений: «Наивысшая доступная позиция» – в&nbsp;90% случаев она не&nbsp;выгодна и&nbsp;приводит к&nbsp;расходу рекламного бюджета. Поэтому мы изменяем ее.
                                        li.effect-list__item Корректируем ставки каждые 10 минут
                            .context-effect__wrap.edit
                                .effect-text
                                    h3.context__title.effect-title Увеличиваем CTR
                                    ul.effect-list
                                        li.effect-list__item CTR наших рекламных кампаний не&nbsp;менее 10%!
                                        li.effect-list__item  Анализируем конкурентов по&nbsp;директу, и&nbsp;выстраиваем стратегию отстройки от&nbsp;них. Если все пишут про цену, мы пишем про богатый выбор, бесплатную доставку и&nbsp;т.д. в&nbsp;итоге это значительно увеличивает количество переходов по&nbsp;объявлению
                                        li.effect-list__item Используем правила копирайтинга.
                                        li.effect-list__item Значительно увеличиваем размер объявления – за&nbsp;счет тонкой настройки. Например, увеличиваем длину заголовка объявления 56 символов вместо 33. Также проводим работу с&nbsp;текстом объявления.
                                .effect-img
                            .context-effect__wrap.converse
                                .effect-img
                                .effect-text
                                    h3.context__title.effect-title Повышаем конверсию
                                    ul.effect-list
                                        li.effect-list__item Анализируем сайт, делаем рекомендации по&nbsp;увеличению конверсии сайта (его эффективности).
                                        li.effect-list__item Анализируем рекламные компании и&nbsp;убираем объявления, которые не&nbsp; работают, то есть по&nbsp;которым люди переходят на&nbsp;сайт, но в&nbsp;итоге не&nbsp;звонят или не&nbsp;оставляют контактные данные.
                                        li.effect-list__item Используем ретаргетинг (догоняющая реклама)
                            .context-effect__wrap.person
                                .effect-text
                                    h3.context__title.effect-title Увеличиваем охват аудитории
                                    ul.effect-list
                                        li.effect-list__item Настраиваем рекламу на&nbsp;РСЯ (рекламная сеть Яндекса). Пишем специальные объявления (они отличаются от&nbsp;объявлений Яндекс Директа по&nbsp;своему содержанию), добавляем картинки, снижаем стоимость клика.
                                        li.effect-list__item Настраиваем поисковую рекламу в&nbsp;Google Adwords.
                                .effect-img

                        .context-price
                            h2.context__big-title.context__price-title Стоимость работ
                            .context-price__wrap
                                .context-price-item.escort
                                    p.context-price-item__text Сопровождение рекламной кампании
                                    span.context-price-item__price от 6 000 ₽
                                .context-price-item.once
                                    p.context-price-item__text Разовая настройка рекламной кампании
                                    span.context-price-item__price от 20 000 ₽
                            a(href="#").context-price__btn Смотреть результаты нашей работы

                        .context-container.context-complex
                            h2.context__big-title.complex-title Комплексный подход к&nbsp;ведению контекстной рекламы
                            p.context__subtitle Только качественная работа сразу в&nbsp;3-х направлениях дает ощутимый результат
                            .context-complex__wrap
                                .context-complex-item.trafic-item
                                    h4.context-complex-item__title Работа над трафиком
                                    ul.complex-item-list
                                        li — снижаем цену клика
                                        li — увеличиваем CTR
                                .context-complex-item.converse-item
                                    h4.context-complex-item__title Увеличение конверсии сайта
                                    ul.complex-item-list
                                        li — анализируем сайт
                                        li — ретаргетинг
                                .context-complex-item.effect-item
                                    h4.context-complex-item__title Повышение эффективности менеджеров
                                    ul.complex-item-list
                                        li — проводим тренинги

                            h2.context__big-title.result-title Результаты нашей работы
                            p.context__subtitle Примеры российских компаний у&nbsp;нас на&nbsp;продвижении
                            .slider-wrap
                                .slider-example__wrap
                                .slider-example
                                    .slider-example-item
                                    .slider-example-item
                                    .slider-example-item
                                .slider-example-arrows.slider-arrows
                                .slider-example-dots

                            .context-analys
                                .context-analys-block
                                    span.analys__link-span →
                                        a(href="#").analys__link fasadcolor38.ru
                                    p.analys__title Снижение стоимости клика
                                    .analys-item.first
                                        .analys-item__bar.yellow
                                        .analys-item__value
                                            | 43&nbsp;₽
                                            span.analys-item__small прогноз Яндекса
                                    .analys-item
                                        .analys-item__bar.violet
                                        .analys-item__value
                                            | 11&nbsp;₽
                                            span.analys-item__small после оптимизации
                                .context-analys-block
                                    p.analys__title Рост посещаемости
                                    p.analys__value
                                        | +
                                        span.analys__value--bold 30
                                        | %
                                    p.analys__title Средний CTR
                                        span.analys__hint i
                                            span.analys__hint-text Отношение кликов по объявлению к числу показов
                                    p.analys__value
                                        span.analys__value--bold 13
                                        | %
                                    p.analys__title Целевое действие выполнили
                                    p.analys__value
                                        span.analys__value--bold 18&nbsp;
                                        | человек

                            a(href="#").content-complex__btn Хочу так же!
            include ../footer
        .popup-overlay
        script(src='../js/jquery-3.3.1.min.js')
        script(src="../js/jquery.nicescroll.min.js")
        script(src='../js/jquery.validate.min.js')
        script(src='../js/jquery.mask.min.js')
        script(src='../js/slick.min.js')
        script(src='../js/context.js')
        script(src='../js/script.js')