footer.footer
    .container.footer-container
        .footer-top
            .footer-top-item.footer-top-item1
                p.footer-top-item__bold Остались вопросы? Звоните:
                p.footer-top-item__phone 8 495 118-43-66
                p.footer-top-item__text В будни с 9:00 до 18:00 (МСК +5)
            .footer-top-item.footer-top-item2
                p.footer-top-item__text ИНН: 381115999541
                p.footer-top-item__text.footer-top-item__text2 ОГРНИП: 318385000008444
                a.footer-top-item__link(href='#') Политика конфиденциальности
                br
                a.footer-top-item__link(href='#') Пользовательское соглашение
        .footer-bottom
            | © Power IM 2020 — сервис онлайн аудитов рекламных компаний Яндекс Директ и Google Ads
