doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title PowerIM
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='sass/style.scss')

.wrapper
    #login.popup-login
        .popup-login__wrap
            |
            |
            .login__title Вход в личный кабинет
            |
            |
            form.login-form(action='#' method='post')
                .login-form-item
                    label.login-form-item__label Мобильный телефон
                    input.login-form-item__input.login-form-item__input--tel(type='text' placeholder='+7 000 000-00-00' name='tel')
                    span.login-form-item__text.text-sms Пришлём SMS с кодом для входа
                .login-form-item.login-form__sms
                    label.login-form-item__label Код из SMS
                    input.login-form-item__input.login-form-item__input--sms(type='number' placeholder='0000' name='sms_code')
                    span.login-form-item__text.text-more
                        | Выслать код ещё раз через
                        span.timer 20
                        |  секунд
                    a.send-more(href='#') Выслать код ещё раз
                button.login-form__btn.login-form__btn--js(type='submit' name='login') Войти
                p.login-form-item__text.text-policy
                    | Нажимая на кнопку вы подтверждаете, что&nbsp;прочитали и соглашаетесь
                    a.login-form__link(href='#' target='_blank') с политикой обработки персональных данных
            |
            |
            .login-yandex
                p.login-yandex__text Для подготовки аудита, подключите рекламный аккаунт Яндекс
                form(action='#' method='post')
                    button.login-form__btn Подключите...
                    // <input id="file" type="file" class="login-yandex__btn" name="attach">
                    // <label for="file" class="login-form__btn login-yandex-btn__label">Прикрепить...</label>
                p.audit__text.login-yandex__safe
                    | Безопасное соединение по шлюзу ООО «Яндекс» через протокол шифрования SSL. Все логины и&nbsp;пароли остаются на стороне Яндекс.
    span.yandex
    .content
        //фон на главной
        .content__wrap
            span.content__back
                svg(height='100%' viewbox='0 0 388 800' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                    // Generator: Sketch 61.2 (89653) - https://sketch.com
                    title Rectangle
                    desc Created with Sketch.
                    g#Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                        path#Rectangle(d='M0,0 L158,0 L316.562801,132.68818 C401.098736,203.629381 412.19285,329.584034 341.357903,414.19408 L18,800 L0,800 L0,0 Z' fill='#412B9F')
        // ----------------------------header------------------------
        include header

        // ----------------------------end header------------------------
        // ----------------------------main------------------------
        main.main
            .container.audit-container
                section.audit
                    h1.audit__title Онлайн аудит рекламных кампаний Яндекс Директ
                    .audit-descr
                        p.audit-descr__title Обработано 575 рекламных компаний
                        p.audit-descr__subtitle Найдено ошибок 3861, средний CTR 5% — эффективность 30%
                    .notebook-mob
                        .notebook-mob__wrap
                            .notebook-mob__anim
                                img(src='img/audit_2x.jpg')
                    a.audit__btn(href='#') Сделать аудит бесплатно
                    p.audit__text
                        | Безопасное соединение по шлюзу ООО «Яндекс» через протокол шифрования SSL. Все логины и&nbsp;пароли остаются на стороне Яндекс.
                .notebook-img
                    .notebook-img__wrap
                        .notebook-img__anim
                            img(src='img/audit_2x.jpg')
        // ----------------------------end main------------------------
    // ----------------------------footer------------------------
    include footer

    // ----------------------------end footer------------------------
.popup-overlay
script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery.nicescroll.min.js')
script(src='js/jquery.validate.min.js')
script(src='js/jquery.mask.min.js')
script(src='js/script.js')
