.account-accs-employee
    ul.employee-sublist.employee-sublist-scroll
        li.employee-list-item.select-item.employee-list-subitem
            .select-item__img
                .select-item-img__wrap
                    img(src="../img/user.svg")
            .select-item-info
                p.select-item-info__name Samsung
                p.select-item-info__email Samsung@yandex.ru
        li.employee-list-item.select-item.employee-list-subitem
            .select-item__img
                .select-item-img__wrap
                    img(src="../img/user.svg")
            .select-item-info
                p.select-item-info__name Apple_info
                p.select-item-info__email petrApple_infoov_69@yandex.ru
        li.employee-list-item.select-item.employee-list-subitem
            .select-item__img
                .select-item-img__wrap
                    img(src="../img/user.svg")
            .select-item-info
                p.select-item-info__name Mvideo_support
                p.select-item-info__email Mvideo_support@yandex.ru
        li.employee-list-item.select-item.employee-list-subitem
            .select-item__img
                .select-item-img__wrap
                    img(src="../img/user.svg")
            .select-item-info
                p.select-item-info__name ivanov_ia
                p.select-item-info__email ivanov_ia@yandex.ru