- var img = false
.account-accs-select
    .select-selected.select-item.js-select-selected
        .select-item__img.select-selected__img
            .select-item-img__wrap
                if img
                    img(src="../img/user.svg")
            span.select-item__crown
        .select-item-info.select-selected-info
            p.select-item-info__name Afazlyiev
            p.select-item-info__email Afazlyiev@yandex.ru
    .select-list-block
        ul.select-list
            li.select-item.js-select-item.active.select-item-hover
                .select-item__img
                    .select-item-img__wrap
                        if img
                            img(src="../img/user.svg")
                    span.select-item__crown
                .select-item-info
                    p.select-item-info__name Afazlyiev
                    p.select-item-info__email Afazlyiev@yandex.ru
            li.select-item.js-select-item.select-item-hover
                .select-item__img
                    .select-item-img__wrap
                        if img
                            img(src="../img/user.svg")
                .select-item-info
                    p.select-item-info__name petrov_69
                    p.select-item-info__email petrov_69@yandex.ru
            li.select-item.js-select-item.select-item-hover
                .select-item__img
                    .select-item-img__wrap
                        if img
                            img(src="../img/user.svg")
                .select-item-info
                    p.select-item-info__name ivanov_ia
                    p.select-item-info__email ivanov_ia@yandex.ru
|
|

