- var img = false
.account-accs-employee
    ul.employee-list
        li.employee-list-item.select-item.js-employee-list-item
            .employee-list-item__wrap-wrap
                .employee-list-item__wrap
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name petrov_69
                        p.select-item-info__email petrov_69@yandex.ru
            ul.employee-sublist
                li.employee-list-item.select-item.employee-list-subitem.active
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Samsung
                        p.select-item-info__email Samsung@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Apple_info
                        p.select-item-info__email petrApple_infoov_69@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Mvideo_support
                        p.select-item-info__email Mvideo_support@yandex.ru
        li.employee-list-item.select-item.js-employee-list-item
            .employee-list-item__wrap-wrap
                .employee-list-item__wrap
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name ivanov_ia
                        p.select-item-info__email ivanov_ia@yandex.ru
            ul.employee-sublist
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Mycompany
                        p.select-item-info__email Mycompany@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Samsung
                        p.select-item-info__email Samsung@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Apple_info
                        p.select-item-info__email Apple_info@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Mvideo_support
                        p.select-item-info__email Mvideo_support@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name ivanov_ia
                        p.select-item-info__email ivanov_ia@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Samsung
                        p.select-item-info__email Samsung@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Apple_info
                        p.select-item-info__email Apple_info@yandex.ru
        li.employee-list-item.select-item.js-employee-list-item
            .employee-list-item__wrap-wrap
                .employee-list-item__wrap
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Konstantin88_pr
                        p.select-item-info__email Konstantin88_pr@yandex.ru
            ul.employee-sublist
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Samsung
                        p.select-item-info__email Samsung@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Apple_info
                        p.select-item-info__email Apple_info@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Mvideo_support
                        p.select-item-info__email Mvideo_support@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name ivanov_ia
                        p.select-item-info__email ivanov_ia@yandex.ru
        li.employee-list-item.select-item.js-employee-list-item
            .employee-list-item__wrap-wrap
                .employee-list-item__wrap
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name petrov_69
                        p.select-item-info__email petrov_69@yandex.ru
            ul.employee-sublist
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Samsung
                        p.select-item-info__email Samsung@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Apple_info
                        p.select-item-info__email Apple_info@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name Mvideo_support
                        p.select-item-info__email Mvideo_support@yandex.ru
                li.employee-list-item.select-item.employee-list-subitem
                    .select-item__img
                        .select-item-img__wrap
                            if img
                                img(src="../img/user.svg")
                    .select-item-info
                        p.select-item-info__name ivanov_ia
                        p.select-item-info__email ivanov_ia@yandex.ru
