.access {
  color: #25262a;
}

.access .content-container {
  padding-bottom: 175px;
}

.access__title {
  text-align: center;
  margin-bottom: 65px;
}

.slick-slider .slick-track, .slick-slider .slick-list, .access-slider__wrap {
  height: 386px;
}

.access-slider__wrap.slick-dotted.slick-slider {
  margin-bottom: 0;
  top: 26px;
}

.access-item {
  width: 824px;
  height: 473px;
  margin: 0 auto;
}

.wr {
  position: relative;
  height: 473px;
}

.access-slider {
  width: 100%;
  height: 473px;
  background: url("../img/monitor-big.svg") center center no-repeat;
  position: absolute;
}

.access-slider__wrap {
  border: 4px solid #f0f0f7;
  width: calc(100% - 350px);
  overflow: hidden;
  margin: 0 auto;
}

.access-item__wrap {
  height: 100%;
  width: 100%;
  position: relative;

}

.access-item__anim {
  overflow: hidden;
  width: 100%;
  height: 380px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.access-item__anim img {
  width: 100%;
}

.access .slick-dots {
  display: flex;
  justify-content: space-between;
  bottom: -62px;
}

.access .slick-dots li {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #007aff;
  max-width: 304px;
  width: auto;
  text-align: left;
}

.access .slick-dots li.slick-active {
  color: #292929;
}

.access-item__text {
  display: none;
}

@media all and (max-width: 1110px) {
  .access-slider__wrap {
    width: 65%;
  }
}

@media all and (max-width: 1060px) {
  .access-slider__wrap {
    width: 70%;
  }
}

@media all and (max-width: 1000px) {
  .access-slider__wrap {
    width: 73%;
  }
}

@media all and (max-width: 950px) {
  .access-slider {
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .access-slider__wrap {
    width: 78%;
  }
}

@media all and (max-width: 920px) {
  .access-slider__wrap {
    width: 77%;
    height: 366px;
  }
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 35px;
  }
}

@media all and (max-width: 885px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 45px;
  }
  .access-slider__wrap {
    height: 350px;
  }
}

@media all and (max-width: 850px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 58px;
  }
  .access-slider__wrap {
    height: 323px;
  }
}

@media all and (max-width: 800px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 68px;
  }
  .access-slider__wrap {
    height: 308px;
    border: 3px solid #f0f0f7;
  }
}

@media all and (max-width: 768px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 75px;
  }
  //.access-slider__wrap {
  //  height: 295px;
  //}
  .slick-slider .slick-track, .slick-slider .slick-list, .access-slider__wrap {
    height: 460px;
  }
  .access__title {
    margin-bottom: 0;
  }
  .access .content-container {
    padding-bottom: 130px;
  }
  .access__title {
    font-size: 30px;
  }
  .access-item {
    position: relative;
  }
  .access-item__text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    bottom: 0;
    position: absolute;
  }
  .access-slider__wrap {
    overflow: visible;
  }
  .access-item:not(.slick-current) {
    opacity: 0;
  }
  .pager__item-mob {
    display: block;
    width: 8px;
    height: 8px;
    background: rgba(37,38,42,0.2);
    border-radius: 50%;
  }
  .slick-active .pager__item-mob {
    background: #000;
  }
  .access .slick-dots {
    justify-content: center;
    bottom: 0;
  }
}

@media all and (max-width: 740px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 85px;
  }
  .access-slider__wrap {
    height: 277px;
  }
}

@media all and (max-width: 700px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 95px;
  }
  .access-slider__wrap {
    height: 258px;
  }
}

@media all and (max-width: 660px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 105px;
  }
  .access-slider__wrap {
    height: 238px;
  }
}

@media all and (max-width: 630px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 116px;
  }
  .access-slider__wrap {
    height: 220px;
  }
}

@media all and (max-width: 600px) {
  .access .container {
    padding: 0;
  }
  .access__title, .access-slider {
    padding: 0 20px;
  }
  .access__title {
    margin-bottom: 30px;
  }
  .access-slider {
    height: 354px;
  }
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 45px;
  }
  .wr {
    height: 350px;
  }
  .slick-slider .slick-track, .slick-slider .slick-list, .access-slider__wrap {
    height: 242px;
  }
  //.access-item__text {
  //  display: block;
  //}
}

@media all and (max-width: 550px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 55px;
  }
  .access-slider__wrap {
    height: 224px;
    border: 2px solid #f0f0f7;
  }
}


@media all and (max-width: 520px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 65px;
  }
  .access-slider__wrap {
    height: 205px;
  }
}

@media all and (max-width: 435px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 75px;
  }
  .access-slider__wrap {
    height: 187px;
  }
}

@media all and (max-width: 400px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 83px;
  }
  .access-slider__wrap {
    height: 172px;
  }
}

@media all and (max-width: 380px) {
  .wr, .access-slider {
    height: 300px;
  }
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 65px;
  }
  .slick-slider .slick-track, .slick-slider .slick-list, .access-slider__wrap {
    height: 156px;
  }
}

@media all and (max-width: 340px) {
  .access-slider__wrap.slick-dotted.slick-slider {
    top: 70px;
  }
  .access-slider__wrap {
    height: 145px;
  }
}
