/*--------------------------------------------------media---------------------------------------------*/

@media all and (max-width: 1145px) {
  .header-container::after {
    width: 96%;
  }
  .login__text.login {
    margin-right: 40px;
  }
  .notebook-img {
    position: absolute;
    right: 20px;
  }
}

@media all and (max-width: 1110px) {
  .bg__wrap::before {
    background-size: cover;
  }
  .audit__text::before {
    left: -15px;
  }
  .audit__title {
    font-size: 46px;
  }
  .audit-descr__title {
    font-size: 24px;
  }
  .audit-descr__subtitle {
    font-size: 14px;
  }
  .notebook-img__wrap {
    width: 510px;
    height: 317px;
    right: -15px;
  }
  .notebook-img__anim {
    top: 13px;
    left: 52px;
    width: 406px;
    height: 268px;
  }
  .popup-login.register {
    top: 83px;
    right: 123px;
    left: unset !important;
  }
  .popup-login.login {
    top: 77px;
    right: 58px;
  }
}

@media all and (max-width: 1034px) {
  .audit__title {
    font-size: 44px;
  }
}

@media all and (max-width: 1010px) {
  .wrapper {
    overflow-x: hidden;
  }
  .audit {
    width: 53%;
  }
  .notebook-img {
    width: 47%;
  }
  .audit__title {
    margin-bottom: 20px;
  }
  .audit-descr__title {
    font-size: 22px;
  }
}

@media all and (max-width: 935px) {
  .audit__title {
    font-size: 40px;
  }
}

@media all and (max-width: 900px) {
  .menu {
    display: none;
  }
  .burger {
    display: flex;
  }
  .login {
    margin-left: auto;
  }
}

@media all and (max-width: 855px) {
  .audit__title {
    font-size: 35px;
  }
  .audit-descr__title {
    font-size: 20px;
  }
}

@media all and (max-width: 820px) {
  .content__wrap {
    display: none;
  }
  .audit__btn {
    height: 50px;
    line-height: 45px;
    max-width: 312px;
  }
}

@media all and (max-width: 752px) {
  .bg__wrap {
    margin-top: 150px;
  }
  .breadcrumb {
    top: 0;
  }
  .audit__title {
    font-size: 30px;
  }
  .audit__btn {
    max-width: 278px;
  }
  .footer-top-item__phone {
    font-size: 35px;
  }
}

@media all and (max-width: 652px) {
  .audit__title {
    font-size: 27px;
  }
  .audit__btn {
    max-width: 250px;
    font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  .content-container {
    border-radius: 0;
    padding: 45px 20px 64px;
    top: -100px;
  }
  .content-container__title {
    font-size: 20px;
    margin-bottom: 12px; /*audit*/
  }
  .content {
    height: auto;
    padding-bottom: 64px;
  }
  .content-nomain {
    padding-bottom: 0;
  }
  .breadcrumb {
    top: 11px;
  }
  .header-container.nopd {
    padding: 17px 16px;
    align-items: center;
  }
  .header-container.pd {
    padding: 6px 16px 1px;
    align-items: center;
  }
  .header-container::after {
    display: none;
  }
  .header {
    position: relative;
    width: 100%;
    padding-bottom: 0;
  }
  .header.pd {
    padding-bottom: 8px;
  }
  .header::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #4e37ae;
    position: absolute;
    bottom: 0;
  }
  .logo {
    width: 90px;
    height: 12px;
    background-size: 100%;
  }
  .login {
    top: 0;
    margin-right: 0;
  }
  .nopd .login {
    top: unset;
  }
  .login__text.login {
    margin-right: 0;
    font-size: 16px;
  }
  .yandex {
    width: 150px;
    background: url("../img/yandex(1).svg") top right no-repeat;
    top: 62px;
  }
  .main {
    margin-top: 55px;
    top: unset;
    transform: unset;
  }
  .audit-container {
    flex-direction: column;
  }
  .audit {
    width: 100%;
    text-align: center;
  }
  .audit__title {
    font-size: 22px;
    top: unset;
    transform: unset;
  }
  .audit-descr::before {
    display: none;
  }
  .audit-descr {
    margin-left: 0;
    margin-bottom: 32px;
  }
  .audit-descr__title {
    font-size: 15px;
  }
  .audit-descr__subtitle, .audit__text {
    font-size: 12px;
  }
  .notebook-img {
    display: none;
  }
  .notebook-mob {
    display: block;
  }
  .audit__btn {
    height: 48px;
    line-height: 45px;
    margin: 36px auto 12px;
  }
  .audit__text {
    margin: 0 auto;
  }
  .audit__text::before {
    display: none;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    padding-top: 39px;
  }
  .footer-top-item {
    width: 100%;
  }
  .footer-top-item p {

  }
  .footer-top-item__phone {
    font-size: 34px;
  }
  .footer-top-item__text, .footer-top-item__link {
    font-size: 14px;
  }
  .footer-top-item__text2 {
    margin-bottom: 15px;
  }
  .footer-bottom {
    margin-top: 40px;
  }
  .popup-login.register {
    top: 56px;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .popup-login.register .popup-login__wrap::before {
    right: 27px;
  }
  .popup-login.login {
    top: 50px;
    right: 17px;
  }
}

@media all and (max-width: 480px) {
  .content-container {
    top: 0;
    padding: 45px 0 64px;
  }
  .bg__wrap {
    margin-top: 47px;
  }
  .bg__wrap::before {
    display: none;
  }
  .popup-login {
    width: calc(100vw - 40px);
  }
  .popup-login__wrap {
    padding: 33px 24px 48px;
  }
  .popup-login.login {
    left: 50% !important;
    transform: translateX(-50%);
    right: unset;
  }
  .popup-login.login .popup-login__wrap::before {
    right: 13px;
  }
  .login-form-item__input {
    width: 208px;
  }
  .login-form__btn {
    width: 152px;
  }
  .login__title {
    font-size: 20px;
    margin-bottom: 17px;
  }
  .login-form-item__label {
    font-size: 16px;
  }
  .login-form-item__text {
    font-size: 12px;
  }
}