.audit-s__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 35px;
}

.audit-s-efficiency {
  display: flex;
  margin-bottom: 69px;
}

.audit-s-efficiency-item {
  width: 305px;
  display: flex;
}

.audit-s-efficiency-item:first-child {
  margin-right: 32px;
}

.audit-s-efficiency-item-percent {
  min-width: 72px;
  height: 72px;
  outline: 1px solid red;
  margin-right: 24px;
}

.audit-s-efficiency-item__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
}